In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DATA/students_vacancies_10Nov2023.csv', encoding='utf8')

In [3]:
df['skill_1'].isna().sum()

591021

In [4]:
len(df)

663547

In [5]:
df

,id,custom_position,schedule,salary_from,salary_to,education_name,city_id,work_skills,count_skills,required_experience,skill_1,skill_2,skill_3,skill_4,skill_5,skill_6,skill_7,skill_8,skill_9,skill_10
0,48670907,продавец-кассир,сменный график,24400.000000,29400.000000,любое,174,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48252249,продавец-кассир,сменный график,27800.000000,32800.000000,любое,36,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,48628300,кассир (сотрудник супермаркета),полный рабочий день,44000.000000,55000.000000,любое,1,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,48785861,грузчик,полный рабочий день,55000.000000,55000.000000,любое,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,48510311,продавец (старший сотрудник супермаркета),полный рабочий день,26000.000000,32000.000000,любое,37,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663542,48700707,мерчендайзер-грузчик,сменный график,30000.000000,35000.000000,любое,3,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663543,48232806,столяр-плотник,полный рабочий день,50000.000000,50000.000000,любое,9,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663544,48707229,менеджер по продажам в турагентство anex tour,полный рабочий день,45977.011494,114942.528736,высшее,3,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663545,48479148,специалист по приемке (сотрудник супермаркета),полный рабочий день,45000.000000,49000.000000,любое,1,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663546,48652164,сборщик заказов (подработка),полный рабочий день,44460.000000,79560.000000,любое,2,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df['city_id'].value_counts().head()

3      121715
1       88637
174     75215
10      73436
36      59692
Name: city_id, dtype: int64

In [7]:
top_cities = [3, 1, 174, 10, 36]

In [8]:
df[df['city_id'].isin(top_cities)].copy()

,id,custom_position,schedule,salary_from,salary_to,education_name,city_id,work_skills,count_skills,required_experience,skill_1,skill_2,skill_3,skill_4,skill_5,skill_6,skill_7,skill_8,skill_9,skill_10
0,48670907,продавец-кассир,сменный график,24400.000000,29400.000000,любое,174,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48252249,продавец-кассир,сменный график,27800.000000,32800.000000,любое,36,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,48628300,кассир (сотрудник супермаркета),полный рабочий день,44000.000000,55000.000000,любое,1,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,48785861,грузчик,полный рабочий день,55000.000000,55000.000000,любое,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,48479149,продавец (старший сотрудник супермаркета),полный рабочий день,45000.000000,65000.000000,любое,1,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663539,48642633,водитель категории b,полный рабочий день,70000.000000,70000.000000,любое,1,"['работа с сопроводительной документацией', 'с...",7,От 1 года до 3 лет,работа с сопроводительной документацией,спокойный стиль вождения,пунктуальность,доставка заказов,безаварийное вождение,правила дорожного движения,перевозка грузов,NaN,NaN,NaN
663541,48479147,старший кассир (старший сотрудник супермаркета),полный рабочий день,36000.000000,46000.000000,любое,3,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663542,48700707,мерчендайзер-грузчик,сменный график,30000.000000,35000.000000,любое,3,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663544,48707229,менеджер по продажам в турагентство anex tour,полный рабочий день,45977.011494,114942.528736,высшее,3,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663545,48479148,специалист по приемке (сотрудник супермаркета),полный рабочий день,45000.000000,49000.000000,любое,1,NaN,0,Нет опыта,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df['city_id'] = df['city_id'].apply(lambda x: x if (x in top_cities) else 'Остальные')

In [10]:
df = df.drop(columns=['salary_to', 'work_skills', 
                      'skill_1', 'skill_2', 
                      'skill_3', 'skill_4', 
                      'skill_5', 'skill_6', 
                      'skill_7', 'skill_8', 
                      'skill_9', 'skill_10',
                      'id'])

In [11]:
df

,custom_position,schedule,salary_from,education_name,city_id,count_skills,required_experience
0,продавец-кассир,сменный график,24400.000000,любое,174,0,Нет опыта
1,продавец-кассир,сменный график,27800.000000,любое,36,0,Нет опыта
2,кассир (сотрудник супермаркета),полный рабочий день,44000.000000,любое,1,0,Нет опыта
3,грузчик,полный рабочий день,55000.000000,любое,1,0,NaN
4,продавец (старший сотрудник супермаркета),полный рабочий день,26000.000000,любое,Остальные,0,Нет опыта
...,...,...,...,...,...,...,...
663542,мерчендайзер-грузчик,сменный график,30000.000000,любое,3,0,Нет опыта
663543,столяр-плотник,полный рабочий день,50000.000000,любое,Остальные,0,NaN
663544,менеджер по продажам в турагентство anex tour,полный рабочий день,45977.011494,высшее,3,0,Нет опыта
663545,специалист по приемке (сотрудник супермаркета),полный рабочий день,45000.000000,любое,1,0,Нет опыта
663546,сборщик заказов (подработка),полный рабочий день,44460.000000,любое,Остальные,0,Нет опыта

In [12]:
df['education_name'].unique()

array(['любое', 'среднее профессиональное', 'среднее', 'высшее',
       'неполное высшее', 'высшее (бакалавр)'], dtype=object)

In [13]:
df['education_name'] = df['education_name'].apply(lambda x: 'высшее' if x == 'высшее (бакалавр)' else x)

In [14]:
df['schedule'].unique()

array(['сменный график', 'полный рабочий день', 'вахта',
       'свободный график', 'удаленная работа', 'частичная занятость'],
      dtype=object)

In [15]:
df['required_experience'].unique()

array(['Нет опыта', nan, 'От 3 до 6 лет', 'От 1 года до 3 лет',
       'Более 6 лет'], dtype=object)

In [16]:
df['required_experience'] = df['required_experience'].fillna('Отсутствует')

In [17]:
pd.get_dummies(df[['schedule', 'education_name', 'city_id', 'required_experience']], drop_first=True)

,schedule_полный рабочий день,schedule_свободный график,schedule_сменный график,schedule_удаленная работа,schedule_частичная занятость,education_name_любое,education_name_неполное высшее,education_name_среднее,education_name_среднее профессиональное,city_id_3,city_id_10,city_id_36,city_id_174,city_id_Остальные,required_experience_Нет опыта,required_experience_От 1 года до 3 лет,required_experience_От 3 до 6 лет,required_experience_Отсутствует
0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0
2,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
3,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663542,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
663543,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1
663544,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
663545,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
663546,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0

In [18]:
df = pd.concat([df[['custom_position', 'salary_from', 'count_skills']], 
          pd.get_dummies(df[['schedule', 'education_name', 'city_id', 'required_experience']], drop_first=True)],
          axis = 1
         ).copy()

In [19]:
df

,custom_position,salary_from,count_skills,schedule_полный рабочий день,schedule_свободный график,schedule_сменный график,schedule_удаленная работа,schedule_частичная занятость,education_name_любое,education_name_неполное высшее,...,education_name_среднее профессиональное,city_id_3,city_id_10,city_id_36,city_id_174,city_id_Остальные,required_experience_Нет опыта,required_experience_От 1 года до 3 лет,required_experience_От 3 до 6 лет,required_experience_Отсутствует
0,продавец-кассир,24400.000000,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
1,продавец-кассир,27800.000000,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,кассир (сотрудник супермаркета),44000.000000,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,грузчик,55000.000000,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,продавец (старший сотрудник супермаркета),26000.000000,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663542,мерчендайзер-грузчик,30000.000000,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
663543,столяр-плотник,50000.000000,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
663544,менеджер по продажам в турагентство anex tour,45977.011494,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
663545,специалист по приемке (сотрудник супермаркета),45000.000000,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
663546,сборщик заказов (подработка),44460.000000,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,1,0,0,0

In [20]:
df['custom_position'].nunique()

27569

In [1]:
import fasttext
import fasttext.util

fasttext.util.download_model('ru', if_exists='ignore')

'cc.ru.300.bin'

In [2]:
model = fasttext.load_model('cc.ru.300.bin')

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [3]:
model.get_nearest_neighbors('маникюр', k=5)

[(0.8367090821266174, 'педикюр'),
 (0.7981206178665161, 'маникюр.'),
 (0.774941086769104, 'маникюрчик'),
 (0.7430329918861389, 'маникюр-педикюр'),
 (0.7425736784934998, 'экспресс-маникюр')]

In [22]:
def embeddings_ft(data, shape):
    model = fasttext.load_model('cc.ru.300.bin')
    fasttext.util.reduce_model(model, shape)
    
    emb_vector = []
    
    data = data.tolist()
    
    for words in data:
        vec = [model.get_word_vector(word) for word in words.split(' ')][0].tolist()
        emb_vector.append(vec)
    return pd.DataFrame(emb_vector, columns=['ft_{}'.format(feature) for feature in range(1, shape+1)])

In [24]:
emb_vec = embeddings_ft(df['custom_position'], 100)

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [25]:
emb_vec

,ft_1,ft_2,ft_3,ft_4,ft_5,ft_6,ft_7,ft_8,ft_9,ft_10,...,ft_91,ft_92,ft_93,ft_94,ft_95,ft_96,ft_97,ft_98,ft_99,ft_100
0,0.032455,0.025255,0.054770,-0.003816,-0.005694,0.050002,-0.019562,0.017022,-0.017240,-0.036146,...,0.040398,-0.023104,0.027220,-0.013607,0.059143,0.005751,-0.036215,-0.012236,-0.001841,0.002024
1,0.032455,0.025255,0.054770,-0.003816,-0.005694,0.050002,-0.019562,0.017022,-0.017240,-0.036146,...,0.040398,-0.023104,0.027220,-0.013607,0.059143,0.005751,-0.036215,-0.012236,-0.001841,0.002024
2,-0.010458,0.039807,0.114636,-0.068809,-0.013885,0.066729,-0.163377,-0.002013,-0.154451,-0.103271,...,0.121759,-0.018885,-0.025123,-0.002556,0.099740,0.011580,-0.061038,-0.012649,0.031903,0.030258
3,0.055456,0.033637,0.033025,-0.072700,0.084262,0.036506,-0.095369,0.102950,-0.075218,-0.109627,...,0.012408,-0.026216,-0.006344,-0.038626,0.082937,-0.012964,-0.014758,0.029864,-0.033768,0.059199
4,-0.027090,-0.014071,0.061919,0.009562,0.084045,0.028550,-0.105469,-0.023000,-0.042296,-0.045284,...,0.055903,-0.070987,0.025512,-0.036615,0.076704,0.022816,-0.001629,-0.024236,0.028319,-0.024736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663542,-0.013330,0.016439,0.034791,0.028744,0.001786,-0.011806,-0.007668,0.013504,0.019762,-0.017303,...,0.022396,-0.012025,-0.012485,-0.006098,0.033608,-0.003399,0.003410,0.028490,-0.035874,0.026479
663543,-0.019844,0.038646,0.045130,-0.005647,-0.026006,-0.053080,-0.000639,0.042122,0.018016,-0.039069,...,-0.001527,-0.001349,0.032229,0.010204,0.013992,-0.012019,-0.022636,0.023120,0.012254,0.028943
663544,-0.009884,0.056131,0.068104,0.011558,-0.005760,0.064177,-0.066940,-0.157207,0.004610,-0.079333,...,0.049542,0.006876,-0.026567,-0.046593,0.041096,0.031868,-0.033633,-0.012645,0.053988,0.026274
663545,-0.039058,0.021889,0.029750,-0.006280,-0.043255,0.034402,-0.007579,-0.070485,0.004002,-0.078625,...,0.001668,-0.025795,0.021465,-0.014841,0.036093,0.012145,-0.035564,0.010089,0.049902,-0.005327
663546,-0.002572,-0.012175,-0.012556,0.019411,0.061773,-0.010682,-0.096059,0.008419,-0.036231,-0.110264,...,-0.007208,0.060704,0.002863,-0.092876,0.072555,0.014308,-0.026645,-0.052495,-0.015165,0.011147

In [26]:
data = pd.concat([emb_vec, df.drop(columns='custom_position')], axis=1)

In [27]:
data

,ft_1,ft_2,ft_3,ft_4,ft_5,ft_6,ft_7,ft_8,ft_9,ft_10,...,education_name_среднее профессиональное,city_id_3,city_id_10,city_id_36,city_id_174,city_id_Остальные,required_experience_Нет опыта,required_experience_От 1 года до 3 лет,required_experience_От 3 до 6 лет,required_experience_Отсутствует
0,0.032455,0.025255,0.054770,-0.003816,-0.005694,0.050002,-0.019562,0.017022,-0.017240,-0.036146,...,0,0,0,0,1,0,1,0,0,0
1,0.032455,0.025255,0.054770,-0.003816,-0.005694,0.050002,-0.019562,0.017022,-0.017240,-0.036146,...,0,0,0,1,0,0,1,0,0,0
2,-0.010458,0.039807,0.114636,-0.068809,-0.013885,0.066729,-0.163377,-0.002013,-0.154451,-0.103271,...,0,0,0,0,0,0,1,0,0,0
3,0.055456,0.033637,0.033025,-0.072700,0.084262,0.036506,-0.095369,0.102950,-0.075218,-0.109627,...,0,0,0,0,0,0,0,0,0,1
4,-0.027090,-0.014071,0.061919,0.009562,0.084045,0.028550,-0.105469,-0.023000,-0.042296,-0.045284,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663542,-0.013330,0.016439,0.034791,0.028744,0.001786,-0.011806,-0.007668,0.013504,0.019762,-0.017303,...,0,1,0,0,0,0,1,0,0,0
663543,-0.019844,0.038646,0.045130,-0.005647,-0.026006,-0.053080,-0.000639,0.042122,0.018016,-0.039069,...,0,0,0,0,0,1,0,0,0,1
663544,-0.009884,0.056131,0.068104,0.011558,-0.005760,0.064177,-0.066940,-0.157207,0.004610,-0.079333,...,0,1,0,0,0,0,1,0,0,0
663545,-0.039058,0.021889,0.029750,-0.006280,-0.043255,0.034402,-0.007579,-0.070485,0.004002,-0.078625,...,0,0,0,0,0,0,1,0,0,0
663546,-0.002572,-0.012175,-0.012556,0.019411,0.061773,-0.010682,-0.096059,0.008419,-0.036231,-0.110264,...,0,0,0,0,0,1,1,0,0,0

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.tree import DecisionTreeRegressor
import xgboost as xgb
import tensorflow_decision_forests as tfdf
from sklearn.metrics import mean_absolute_percentage_error as mape

In [34]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(columns='salary_from'), data['salary_from'])

In [35]:
linear_model = LinearRegression().fit(X_train, y_train)

In [37]:
preds = linear_model.predict(X_test)
print('MAPE: ', mape(y_test, preds))

MAPE:  0.12510842084441953

In [38]:
ridge_model = Ridge().fit(X_train, y_train)
preds = ridge_model.predict(X_test)
print('MAPE: ', mape(y_test, preds))

MAPE:  0.12522115996935546

In [39]:
lasso_model = Lasso().fit(X_train, y_train)
preds = lasso_model.predict(X_test)
print('MAPE: ', mape(y_test, preds))

MAPE:  0.1260590441981619

/Users/grigoriiott/anaconda3/envs/nlp_env/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.699e+11, tolerance: 2.373e+10
  model = cd_fast.enet_coordinate_descent(

In [41]:
rfr_model = RandomForestRegressor(n_jobs=-1).fit(X_train, y_train)
preds = rfr_model.predict(X_test)
print('MAPE: ', mape(y_test, preds))

MAPE:  0.09987017479617283

In [44]:
etr_model = ExtraTreesRegressor().fit(X_train, y_train)
preds = etr_model.predict(X_test)
print('MAPE: ', mape(y_test, preds))

MAPE:  0.09948701867610603

In [46]:
dtr_model = DecisionTreeRegressor().fit(X_train, y_train)
preds = dtr_model.predict(X_test)
print('MAPE: ', mape(y_test, preds))

MAPE:  0.1020421094864626

In [47]:
xgb_model = xgb.XGBRegressor().fit(X_train, y_train)
preds = dtr_model.predict(X_test)
print('MAPE: ', mape(y_test, preds))

MAPE:  0.1020421094864626

In [48]:
#Поправим колонку custom_position

In [81]:
# Удалим выражения в скобках

In [24]:
def del_brackets(data):
    x1 = data.find('(')
    x2 = data.find(')')
    if x1 == -1:
        return data
    elif x2 == -1:
        return data[:x1]
    else:
        return data[:x1]+data[x2:-1]

In [25]:
df['custom_position'] = df['custom_position'].apply(del_brackets)

In [26]:
def del_slash(data):
    x1 = data.find('/')
    if x1 == -1:
        return data
    else:
        return data[:x1]

In [27]:
df['custom_position'] = df['custom_position'].apply(del_slash)

In [32]:
emb_vec = embeddings_ft(df['custom_position'], 50)

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [33]:
data = pd.concat([emb_vec, df.drop(columns='custom_position')], axis=1)

In [34]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(columns='salary_from'), data['salary_from'], random_state=42)

In [35]:
etr_model = ExtraTreesRegressor(random_state=42).fit(X_train, y_train)
preds = etr_model.predict(X_test)
print('MAPE: ', mape(y_test, preds))

MAPE:  0.09996766439531757

In [ ]:
df

In [35]:
df['custom_position'].nunique()

20806

In [36]:
df['custom_position'].str.contains('продав').sum()

177462

In [37]:
df['custom_pos_edited'] = df['custom_position'].apply(lambda x: 'кассир' if (x.find('кассир') != -1 or x.find('продавец') != -1) else x)

In [38]:
df['custom_pos_edited'] = df['custom_pos_edited'].apply(lambda x: 'грузчик' if x.find('грузчик') != -1 else x)

In [39]:
df['custom_pos_edited'].unique()

array(['кассир', 'грузчик', 'пекарь', ...,
       'специалист по оценке драгоценных металлов и драгоценных камней',
       'кладовщик- комплектовщик ',
       'менеджер по продажам в турагентство anex tour'], dtype=object)

In [40]:
df['custom_pos_edited'].nunique()

19083

In [36]:
from sklearn.cluster import AgglomerativeClustering

In [ ]:
clustering = AgglomerativeClustering(n_clusters=None, distance_threshold=0.6, linkage='average').fit(emb_vec)